node_modules

# Output
.output
.vercel
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Python
__pycache__/
*.py[cod]
*.pyo
db.sqlite3

# Fichiers de logs
*.log

back/venv/

back/*.env
back/config/settings_local.py

back/Back/db.sqlite3

back/Back/*/migrations/*

/private/ai-system-prompt.txt
# Local Netlify folder
.netlify
